In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection & Preprocessing

In [12]:
raw_mail_data = pd.read_csv('mail_data.csv')

In [13]:
raw_mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
# missing values
raw_mail_data.isnull().sum()

Category    0
Message     0
dtype: int64

In [16]:
# otherwise replace null values with a null string
mail_data = raw_mail_data.where(pd.notnull(raw_mail_data), '')

In [17]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [18]:
# rows and columns
mail_data.shape

(5572, 2)

Label Encoding

In [21]:
# label spam mail as 0; ham mail as 1;

mail_data.Category.replace({'ham':0, 'spam':1}, inplace=True)

In [22]:
mail_data.head()

   Category                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

# another way to replace ham and spam with 0 and 1

mail_data.loc[mail_data.Category == 'spam', 'Category'] = 0
mail_data.loc[mail_data.Category == 'ham', 'Category'] = 1

In [23]:
# Separating the data as texts and label

X = mail_data['Message']
Y = mail_data['Category']

Splitting the data into training data & test data

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=3)

Feature Extraction

In [26]:
# transform the text data to feature vectors that can be used as input to the Logistic Regression

feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# convert Y_train and Y_test values as integers
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [30]:
# Logistice Regression

model = LogisticRegression()

In [31]:
# training the Logistic Regression model with the training data
model.fit(X_train_features, Y_train)

LogisticRegression()

Evaluating the trained model

In [32]:
# predicition on training data

prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(prediction_on_training_data, Y_train)

In [33]:
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.9670181736594121

In [34]:
# predicition on test data

prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(prediction_on_test_data, Y_test)

In [35]:
print('Accuracy on test data : ', accuracy_on_test_data)

Accuracy on test data :  0.9659192825112107

Building a Predictive Model

In [38]:
input_mail = ["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times."]

# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)

# making prediction

prediction = model.predict(input_data_features)

if (prediction[0] == 0):
    print("This is ham mail")
else:
    print("This is spam mail")

This is ham mail